* {
    box-sizing: border-box;
}

body {
    background-color: #dab7da;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

main {
    margin-top: 50px;
    text-transform: uppercase;
}

.title {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 15px;
    display: inline;
}

header ul {
    text-align: right;
    margin-top: 50px
}

.quiz {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.question {
    margin-left: 50px;
}

.startButton {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    border-radius: 8px;
}

.submitButton {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
}

.nextButton {
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
}

.startButton:hover {
    background-color: grey;
}

.submitButton:hover {
    background-color: grey;
}

.nextButton:hover {
    background-color: grey;
}

img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.questionCount {
    font-weight: bold;
    margin-right: 50px;
}

fieldset {
    border: none;
}

label:hover,
label:focus {
    background-color: grey;
}

label {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    line-height: 30px;
}

input {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    /*transition: 0.2s all linear;*/
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
    margin-left: 50px;
}

input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

.feedback {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;

}

.feedback img {
    width: 150px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px
}

p span {
    color: red;
    font-weight: bold;
}

.feedback p {
    margin-left: 100px;
    margin-right: 100px;
}
